h1 {
    color: black;
    text-align: center;
    background-color: gray;
}

nav {
    text-align: center;
}

h2 { 
    color: gray;
    text-align: center;
}

main {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    background-color:lightgray;
    width:500px;
    height: fit-content;
    align-items: center;
    justify-content: center;

}

.bgimg {
    background-image: url("CosmopolitanCocktail_MFS-WD1-.jpg")
}

ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}