.btn-list{
    min-height:200px;
    height:fit-content;
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.filter-type{
    min-height:200px;
    height:fit-content;
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.in-cont, .ex-cont{
    gap:3px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100%;
    height:fit-content;
    margin:5px 2px 5px 2px;
}
.included{
    padding:2px;
    background-color:rgb(87, 211, 87);
    color:rgb(111, 111, 111);
}
.excluded{
    padding:2px;
    background-color:rgb(244, 64, 32);
    color:rgb(111, 111, 111);
}
.f-type{
    width:100%;
    height:50%;
    display:flex;
    flex-direction:row;

}
body {
    background-image:url("../images/CosmopolitanCocktail_MFS-WD1-.jpg");
    background-size:cover;
    /* background-size: auto; */
    background-color:rgb(212, 169, 166);
    font-family: Comfortaa;
    height: 100%;
}
#mix-filters{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
#mix-control{
    display:flex;
    justify-content:center;
}
#add-mix{
    height:70px;
    width:180px;
    border-radius: 15px;
    font-weight: bold;
    font-size: large;
    background-color: rgb(98, 93, 93, 0.8);

    
}
.mix-container{
    width:180px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: rgb(98, 93, 93, 0.8);
    border-radius: 15px;
}
.mix-header{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:80%;
    padding:15px;
    border-radius: 3px;
}
.filter-cat{
    width: 10%;
    display:flex;
    flex-direction:column;
    justify-items:flex-start;
    align-items:center;
    gap: 5px;
}
.filter-item{
    background-color:rgba(187, 187, 170, 0.92);
    /* Made changes here - Aydene*/
    border-radius: 5px;
    padding-inline-end: 3px;
    width: 85%;
}

.cat-name {
    font-weight: bolder;
    font-size: xx-large;
}
.tgl-type{
    height:40px;
    width:120px;
    gap:0;
    border:0;
    margin:0;
}
.filter-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:10px;
}
.liq{
    gap:2px;
    width: 100px;
    height:35px;
}
.included{
    background-color:rgb(62, 146, 62);
    color:white;
}
.excluded{
    background-color:rgb(201, 45, 45);
    color:white;
}
.hidden{
    display:none;
}
.unfocus{
    filter:blur(2px);
}
#mix-responses{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}
.card-row{
    height:20%;
    width:100%;
    display:flex;
    align-content:space-around;
    justify-content:space-around;
}
.response-container{
    width:410px;
    height:fit-content;
    border:1px solid;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    background-image: url(../images/flaming_cocktail.jpg);
    background-size: cover;
}
.result-card{
    margin:1%;
    height:180px;
    width:180px;
    background-color:black;
}

h3 {color:white;
}

#picture.container {
    display: flex;
    height: 60px;
    background-size: contain;
}

.welcome-msg {
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    height: 200px;
    color: rgb(28, 4, 4);
    
}

#top-pg {
    font-family: Comfortaa;
}

.editfilter:hover {
    color: white;
}

#p-design {
    
}